

body {
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
    min-width: 600px;
}


header {
    width: 100%;
}
#top-menu {
    position: relative;
    float: right;
    list-style-type: none;
   
    }

#top-menu li {
    display: inline;
    padding: 5px;
    }

a {
    text-decoration: none;
    color: grey;
}

a:hover {
    text-decoration: none;
    color: grey;
    text-decoration-line: underline;
}

#main-area {
    position: fixed;
    margin-top: 100px;
    clear: both;
    text-align: center;
    width: 400px;
    left:50%;
    margin-left: -200px;
    top:10%;
   }

#searchbox {
    width: 100%;
    border-radius: 5px;
    margin: 10px;
}

.grey-button {
    width:150px;
    height: 25px;
    text-align: center;
    background-color: lightgrey;
    border-radius: 3px;
    box-shadow: none;
    outline: none;
    border:none;
}

.p-normal {
    font-size: 15px;
}

footer {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    left:0px;   
    background-color: #e5e5e5;
    width: 100%;
    line-height: 1em;
}

footer p {
    padding: 0;
    margin-top: 10px;
    margin-left: 7px;
    margin-bottom: 0;
    color: grey;
}

#bottom-menu {
    list-style-type:none;
    padding: 0;
    margin:0px 5px;
    position: relative;
    display: inline;
    width: 100%;
   
}

#bottom-menu li {
    display: inline;
    padding: 0px 7px;  
}

#bm-right{
    position: relative;
    float: right;
    margin:0;
    padding:0;
    overflow: hidden;   
}
#bm-left{
position: relative;
margin:0;
padding:0;
}

.blue-button a {
    background-color: blue;
    color: white;
    border-radius: 2px;
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
    white-space: nowrap;
}

@media (max-width: 1000px) {
    #bm-right{
        float: none;
        margin-top: 15px;
}